*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0px auto;
    padding: 0px 20px;
    position: relative;
}
.box{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.result{
    background: linear-gradient(0deg, rgba(101,65,253,1) 0%, rgba(50,43,234,1) 100%);
    width: 370px;
    padding: 50px 50px;
    border-radius: 20px;
}
.result h1{
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(176, 182, 187);
    padding-bottom: 40px;
}
.result h3{
    font-size: 25px;
    font-weight: 700;
    color: white;
    padding-bottom: 15px;
}
.btm-p{
    font-size: 15px;
    font-weight: 400;
    color: rgb(243, 236, 236);
    line-height: 25px;
}
.number{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background: rgb(69,50,236);
    background: linear-gradient(0deg, rgba(69,50,236,1) 0%, rgba(73,36,206,1) 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    margin-bottom: 30px;
}
.number p{
    color: white;
    font-size: 60px;
    font-weight: 700;
}
.number span{
    color: rgb(187, 178, 178);
    font-size: 14px;
    font-weight: 700;
}
/* Summary  */
.summary{
    width: 370px;
    padding: 50px 50px;
    border-radius: 20px;
    -webkit-box-shadow: 3px 3px 59px 4px rgba(209,202,209,0.6);
    -moz-box-shadow: 3px 3px 59px 4px rgba(209,202,209,0.6);
    box-shadow: 3px 3px 59px 4px rgba(209,202,209,0.6);
}
.summary h1{
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    color: black;
    padding-bottom: 40px;
}
.all-summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.summary-left{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-weight: 500;
}
.summary-right p{
    font-size: 16px;
    color: black;
    font-weight: 600;
}
.summary-right p span{
    color: rgb(151, 151, 151);
}
.summary .one{
    background-color: #FFF7F5;
    color: #ee7b7c;
}
.summary .two{
    color: #f4bb35;
    background-color: #f6f4ef;
}
.summary .three{
    color: #2ffbcb;
    background-color: #ecf8f5;
}
.summary .four{
    color: #4353df;
    background-color: #e7e9f6;
}
.summary button{
    background-color: black;
    width: 100%;
    color: white;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
}
@media screen and (max-width:800px){
    .box{
        flex-direction: column;
    }
}
